.header {
    background-image: url(../../photos/Merged\ bar-61.svg);
}

.vh-70 {
    height: 50vh !important;
}

.btn {
    width: 15%;
    height: 10%;
}

.btn:hover {
    background-color: rgb(65, 112, 214);
    color:white
}

.btnClicked {
    background-color: rgb(44, 102, 37) !important;
    color:white !important;
}