<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>conseil</title>
    <style>
        /* div>img {
            width: 17rem;
            height: 10rem;
        } */
    </style>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light  container">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../photos/logo__sante-1.svg" alt="logo" width="50"
                        height="35"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Conseils</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Accueil</a>
                        </li>
                    </ul>
                    </ul>

                    <select name="Language " id="Language" class="p-2 "
                        style="background-color: #D0E5F0;border-radius: 12px;border-color: #8797ad;">
                        <option value="volvo" style="display:none">langue</option>
                        <option value="saab">France</option>
                        <option value="saab">Arabe</option>
                        <option value="opel">English</option>
                        <option value="opel">Amazigh</option>
                    </select>

                </div>
            </div>
        </nav>
    </header>
    <!-- header -->

    <div class="text-center mt-4 fs-2">
        Comment protégez-vous votre tête et vos proches au quotidien ?</div>

<div class="container justify-content-center d-flex mt-5">
    
    <div class="row">
        <div class="col-4 text-center mb-5">
            <img width="150px";
            height="150px" src="../photos/Calque -5.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -4.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -18.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center">
            <img width="150px";
            height="150px" src="../photos/cough-svgrepo-com-1.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -4.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -6.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-4 text-center mx-auto mt-4">
            <img width="150px";
            height="150px"  src="../photos/Calque -5.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
    </div>
</div>
<div class="container-fluid h-50 mt-4 d-flex flex-column align-items-center" style="background-color: #8bc0db">
    <h2 class="text-center p-3">informations</h2>
<P class="text-center p-4 fs-3">
    Accédez à toutes les données et statistiques liées à la situation épidémiologique au Maroc sur le portail officiel</P>
<button type="button" class="btn btn-primary fs-3 mb-3 " style="width: 30%;background-color:#555992">www.covidmaroc.com</button>
</div>


<div class="text-center mt-4 fs-2"> Quels sont les symptômes à connaître ?</div>

<div class="container justify-content-center d-flex mt-5">
    
    <div class="row">
        <div class="col-6 text-center mb-5">
            <img width="150px";
            height="150px" src="../photos/Calque -3.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-6 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -4.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-6 text-center">
            <img width="150px";
            height="150px"  src="../photos/Calque -5.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
        <div class="col-6 text-center">
            <img width="150px";
            height="150px" src="../photos/Calque -3.svg" alt="">
            <h5>جتانب تسلام او المصافحة</h5>
        </div>
       
    </div>
</div>

<div class="container-fluid " style="background-color:#053069">
    <div class="text-center mt-4 fs-3 p-4" style="color: #fff">
        recommandations officielles</div>

    <div class="d-flex justify-content-between"style="color: #fff">
     
        <div class="ms-4 fs-5">
            Loin de la plie publique.
                <p>
                    Après les plaques publiques.</p>
                <p>
                    Les personnes faibles (personnes âgées ou malades)</p>
                <p>reste à la maison</p>
                <p>Respecter les consignes imposées (se laver les mains, porter un masque, au cas où je ressens des symptômes).</p>
                <p>
                    Respecter les consignes imposées (se laver les mains, porter un masque, au cas où je ressens des symptômes).</p>
        
        </div>
        <div class="me-4 mb-4">
            <p class="text-center fs-4">appeler </p>
        <p class="p-2 text-center" style="background-color: #2531df; width:140px;color:white">141</p>
        <p class="p-2 text-center" style="background-color: #2531df; width:140px;color:white">080 100 47 47</p>
        <p class="p-2 text-center" style="background-color: #2531df; width:140px;color:white">300</p>
    </div>  

    </div>
</div>
<div class="container-fluid h-50 d-flex flex-column align-items-center">

<P class="text-center p-4 fs-3">
    À quoi pensez-vous que vous avez été exposé au nouveau virus corona et que vous en avez les symptômes ?</P>
    <img width="100px";
    height="100px" src="../photos/élément-1.svg" alt="">
<a href="../index.html" class="btn btn-primary fs-3 mb-4  mt-3 " style="width: 30%;background-color:#555992">c est parti</a>
</div>

















    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>